.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-block: 95px 92px;
  padding-inline: 24px;
}

.header_menu {
  display: flex;
  justify-self: center;
}

.menu_links {
  display: flex;
  column-gap: 32px;
  list-style: circle;
  padding-right: 7px;
  margin: -3px -4px 0 0;
}

.link_list {
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;
  line-height: 1.22;
}

.main_link_marker {
  list-style-type: none;
  text-decoration: none;
}

.link_main {
  text-decoration: none;
}

.header_logo {
  width: 148px;
  height: 105px;
}

.address {
  padding-left: 186px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  font-style: normal;
}

.cover {
  --cover-image: url(../images/cover.jpg);
  position: relative;
  background-image: var(--cover-image);
  background-size: cover;
  background-position: 50% 50%;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.6);
  z-index: -1;
}

.cover_title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 175px 50px 90px;
  gap: 20px;
}

.cover_title span {
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
}

.cover_title .text_cover {
  display: block;
  line-height: 100px;
  letter-spacing: 30px;
}

.cover_title .text_center {
  text-align: center;
  line-height: 125px;
  transform: translateX(15px);
}

.cover_title .text_right {
  text-align: right;
  line-height: 125px;
  transform: translateY(-10px);
}

.cover_title .text_cover .no_letter_spacing {
  letter-spacing: 0px;
}

.cover_title .text_cover .letter_spacing {
  letter-spacing: 30px;
}

.cover_description {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0px 50px 53px 35px;
  gap: 79px;
  position: relative;
  left: 8px;
  bottom: 4px;
}

.cover_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.button {
  inline-size: 256px;
  block-size: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 15px;
  margin-block-start: 3px; 
  position: relative; 
  left: 6px;
  bottom: 4px;
}

.title_lots {
  margin: 178px 0 20px 65px;
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.container_lots {
  display: grid;
  grid-template-columns: repeat(3, 335px);
  gap: 24px;
  place-content: center;
  padding: 3px 50px;
  margin: 0 auto;
}

.card_lots a {
  text-decoration: none;
}

.card_lots {
  min-height: 596px;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 51px 40px 48px;
  place-content: space-between;
  background: center/cover no-repeat;
}

.card_about_cinema {
  background-image: url(./../images/card-lot-01.jpg);
}

.card_about_book {
  background-image: url(./../images/card-lot-02.jpg);
}

.card_about_picture {
  background-image: url(./../images/card-lot-03.jpg);
}

.card_title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.link_lots {
  text-decoration: none;
}

.text_on_card {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: initial;
  font-weight: normal;
  line-height: 1.2;
}

.view_more {
  display: flex;
  text-underline-offset: 4px;
  padding-top: 25px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: normal;
  line-height: 23.48px;
  margin-left: 64px;
}

.about {
  margin-top: 125px;
}

.about_container {
  display: grid;
  grid-template-columns: 334px minmax(0, 1fr);
  gap: 25px;
  padding: 34px 24px 0;
}

.about_logo {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  inline-size: 240px;
  block-size: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_logo_image {
  inline-size: 148px;
  block-size: 114px;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block-start: 100px;
}

.title_about {
  color: #000;
  font: 700 40px/1.174 sans-serif;
}

.about_text {
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  max-width: 690px;
}

.text_up {
  padding-top: 70px;
}

.text_down {
  padding-top: 25px;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 188px 55px 88px;
  gap: 40px;
  align-items: start;
}

.footer_address {
  font-style: normal;
  padding-inline-start: 0;
  padding-block-end: 4px;
}

.footer_menu {
  padding-inline-end: 0;
}

.footer_menu_links {
  list-style-type: none;
  text-underline-offset: 3px;
}

.footer_links {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.footer_main {
  text-decoration: none;
}

.images_footer {
  width: 48px;
  height: 48px;
}

.footer_images {
  display: flex;
  gap: 48px;
}